@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus.a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.content {
  height: 100%;
}

.wrapper {
  width: 375px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 21px 34px 0px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
}
.card__title {
  align-self: center;
  width: 250px;
  color: #1F3251;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 24px 0 16px 0;
}
.card__subtitle {
  align-self: center;
  width: 250px;
  color: #D6E2F0;
  text-align: center;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
}

.qr {
  background-image: url(../img/QrBackground.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 288px;
  border-radius: 13px;
  overflow: hidden;
  background-color: hsl(216, 95%, 62%);
}